In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('restaurant-1-orders.csv')

In [3]:
df.head()

,Order Number,Order Date,Item Name,Quantity,Product Price,Total products
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6

the data has multiple rows for a single order. "order date" column should be separated and sorted. Can also make a recommendation (accompanying items) for complimentory items in a group order.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74818 entries, 0 to 74817
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    74818 non-null  int64
 1   Order Date      74818 non-null  object
 2   Item Name       74818 non-null  object
 3   Quantity        74818 non-null  int64
 4   Product Price   74818 non-null  float64
 5   Total products  74818 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 3.4+ MB

In [5]:
df["Order Date"] = pd.to_datetime(df["Order Date"], format='%d/%m/%Y %H:%M')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74818 entries, 0 to 74817
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    74818 non-null  int64
 1   Order Date      74818 non-null  datetime64[ns]
 2   Item Name       74818 non-null  object
 3   Quantity        74818 non-null  int64
 4   Product Price   74818 non-null  float64
 5   Total products  74818 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 3.4+ MB

In [7]:
df['Item Name'].unique().size

248

Task 1: To predict what dishes will be ordered in the last week of every month and in what quantity? 
Task 2: In a single order, which items are likely to be grouped?
Task 3: Can we make seasonal cluster of items?
Task 4: Collaborative recommendation
Task 5: How does price play a role?

In [8]:
df.sort_values(by='Order Date', inplace=True)

In [9]:
df.describe()

,Order Number,Order Date,Quantity,Product Price,Total products
count,74818.000000,74818,74818.000000,74818.000000,74818.000000
mean,9115.638162,2018-03-02 17:05:07.154962688,1.243564,5.286492,6.931434
min,630.000000,2015-09-01 14:42:00,1.000000,0.500000,1.000000
25%,5590.000000,2017-06-02 17:43:00,1.000000,2.950000,5.000000
50%,9103.000000,2018-04-06 19:53:00,1.000000,3.950000,6.000000
75%,12630.000000,2018-12-23 18:36:00,1.000000,8.950000,8.000000
max,16118.000000,2019-08-03 20:25:00,51.000000,17.950000,60.000000
std,4052.210452,NaN,0.798207,3.338221,3.954832

In [10]:
dfd = pd.DataFrame()

In [11]:
dfd = df.drop_duplicates(subset=['Item Name'])

In [12]:
dfd.drop(['Order Number', 'Order Date', 'Quantity', 'Total products'], axis=1, inplace=True)

/var/folders/sz/4dnyt_zd7_v7g39gxc4lz3000000gn/T/ipykernel_2113/209204372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfd.drop(['Order Number', 'Order Date', 'Quantity', 'Total products'], axis=1, inplace=True)

In [13]:
dfd.reset_index(drop=True, inplace=True)

In [14]:
dfd

                    Item Name  Product Price
0                 Onion Bhaji           3.95
1               Chicken Tikka           7.95
2      Tandoori Chicken (1/4)           4.95
3            Vegetable Samosa           4.95
4               Tandoori Fish           5.95
..                        ...            ...
243              Methi - Lamb           8.95
244  Mushroom - Chicken Tikka           8.95
245           Methi - Chicken           8.95
246          Bottle Diet Coke           2.95
247           COBRA ( LARGE )           5.95

[248 rows x 2 columns]

In [15]:
df.drop(['Order Number'], inplace=True, axis=1)

In [16]:
df.head(26)

,Order Date,Item Name,Quantity,Product Price,Total products
39152,2015-09-01 14:42:00,Onion Bhaji,1,3.95,3
39151,2015-09-08 17:12:00,Onion Bhaji,1,3.95,3
39150,2015-09-08 17:31:00,Onion Bhaji,1,3.95,1
39149,2015-09-08 17:56:00,Onion Bhaji,1,3.95,4
39148,2015-09-09 09:31:00,Onion Bhaji,1,3.95,3
39147,2015-09-09 11:28:00,Onion Bhaji,1,3.95,4
39146,2015-09-09 11:35:00,Onion Bhaji,1,3.95,3
39145,2015-09-09 12:48:00,Onion Bhaji,1,3.95,4
39144,2015-09-09 14:41:00,Onion Bhaji,1,3.95,3
39143,2015-09-09 15:52:00,Onion Bhaji,1,3.95,4
54026,2015-09-29 15:20:00,Chicken Tikka,1,7.95,3
42118,2015-09-29 15:20:00,Tandoori Chicken (1/4),1,4.95,3
39142,2015-09-29 15:20:00,Chicken Tikka,3,3.95,3
42117,2015-09-29 15:36:00,Vegetable Samosa,2,4.95,2
50996,2015-09-29 15:36:00,Tandoori Fish,1,5.95,2
42116,2015-09-29 16:16:00,Vegetable Samosa,1,4.95,1
50995,2015-09-30 10:36:00,Tandoori Fish,1,5.95,3
42115,2015-09-30 10:36:00,Tandoori Chicken (1/4),1,4.95,3
42114,2015-09-30 10:36:00,Vegetable Samosa,1,4.95,3
39141,2015-09-30 15:38:00,Onion Bhaji,1,3.95,6
50994,2015-09-30 15:38:00,Royal Paneer,1,5.95,6
42113,2015-09-30 15:38:00,Prawn Puree,1,4.95,6
42112,2015-09-30 15:38:00,Tandoori Chicken (1/4),1,4.95,6
42111,2015-09-30 15:38:00,Vegetable Samosa,4,4.95,6
50993,2015-09-30 15:38:00,Tandoori Fish,4,5.95,6
42110,2015-09-30 15:50:00,Vegetable Samosa,1,4.95,1

In [17]:
# will have to remove the first 10 rows as they are wrong about the time stamp and total products. this will affect the plots.
df.drop(df.head(10).index, inplace=True)
df

,Order Date,Item Name,Quantity,Product Price,Total products
54026,2015-09-29 15:20:00,Chicken Tikka,1,7.95,3
42118,2015-09-29 15:20:00,Tandoori Chicken (1/4),1,4.95,3
39142,2015-09-29 15:20:00,Chicken Tikka,3,3.95,3
42117,2015-09-29 15:36:00,Vegetable Samosa,2,4.95,2
50996,2015-09-29 15:36:00,Tandoori Fish,1,5.95,2
...,...,...,...,...,...
4,2019-08-03 20:25:00,Paneer Tikka Masala,1,8.95,6
3,2019-08-03 20:25:00,Mushroom Rice,1,3.95,6
2,2019-08-03 20:25:00,Garlic Naan,1,2.95,6
1,2019-08-03 20:25:00,King Prawn Balti,1,12.95,6
0,2019-08-03 20:25:00,Plain Papadum,2,0.80,6

In [18]:
df.drop(['Product Price'], axis=1, inplace=True)

groupby orderdate, index=false, comma separated item name, quantity to array, array sum to total products (corrected)

In [19]:
df_grouped = df.groupby('Order Date', as_index=False).agg({'Item Name': lambda x: ', '.join(x), 'Quantity': list})
# df_grouped.Quantity = list(df_grouped.Quantity)
df_grouped

,Order Date,Item Name,Quantity
0,2015-09-29 15:20:00,"Chicken Tikka, Tandoori Chicken (1/4), Chicken...","[1, 1, 3]"
1,2015-09-29 15:36:00,"Vegetable Samosa, Tandoori Fish","[2, 1]"
2,2015-09-29 16:16:00,Vegetable Samosa,[1]
3,2015-09-30 10:36:00,"Tandoori Fish, Tandoori Chicken (1/4), Vegetab...","[1, 1, 1]"
4,2015-09-30 15:38:00,"Onion Bhaji, Royal Paneer, Prawn Puree, Tandoo...","[1, 1, 1, 1, 4, 4]"
...,...,...,...
13066,2019-08-03 19:44:00,"Special Fried Rice, Chicken Balti","[2, 1]"
13067,2019-08-03 20:01:00,"Pilau Rice, Peshwari Naan, Korma - Prawn, Red ...","[1, 1, 1, 1, 1, 1, 1]"
13068,2019-08-03 20:09:00,"Keema Naan, Lamb Biryani, Chicken Chilli Garli...","[1, 1, 1, 1, 1]"
13069,2019-08-03 20:17:00,"Plain Naan, Mushroom Rice, Tandoori Chicken (1...","[1, 1, 1, 1, 1, 1, 1]"
13070,2019-08-03 20:25:00,"Mango Chutney, Paneer Tikka Masala, Mushroom R...","[1, 1, 1, 1, 1, 2]"

In [20]:
# df_grouped.Quantity = df_grouped.Quantity.apply(lambda x: list(x))
# df_grouped

In [21]:
# df_grouped.Quantity = df_grouped.Quantity.apply(lambda x: [int(i) for i in x])

In [22]:
df_grouped['Total products'] = df_grouped.Quantity.apply(lambda x: sum(x))

In [23]:
df_grouped

,Order Date,Item Name,Quantity,Total products
0,2015-09-29 15:20:00,"Chicken Tikka, Tandoori Chicken (1/4), Chicken...","[1, 1, 3]",5
1,2015-09-29 15:36:00,"Vegetable Samosa, Tandoori Fish","[2, 1]",3
2,2015-09-29 16:16:00,Vegetable Samosa,[1],1
3,2015-09-30 10:36:00,"Tandoori Fish, Tandoori Chicken (1/4), Vegetab...","[1, 1, 1]",3
4,2015-09-30 15:38:00,"Onion Bhaji, Royal Paneer, Prawn Puree, Tandoo...","[1, 1, 1, 1, 4, 4]",12
...,...,...,...,...
13066,2019-08-03 19:44:00,"Special Fried Rice, Chicken Balti","[2, 1]",3
13067,2019-08-03 20:01:00,"Pilau Rice, Peshwari Naan, Korma - Prawn, Red ...","[1, 1, 1, 1, 1, 1, 1]",7
13068,2019-08-03 20:09:00,"Keema Naan, Lamb Biryani, Chicken Chilli Garli...","[1, 1, 1, 1, 1]",5
13069,2019-08-03 20:17:00,"Plain Naan, Mushroom Rice, Tandoori Chicken (1...","[1, 1, 1, 1, 1, 1, 1]",7
13070,2019-08-03 20:25:00,"Mango Chutney, Paneer Tikka Masala, Mushroom R...","[1, 1, 1, 1, 1, 2]",7

In [24]:
df_grouped.loc[0,'Item Name'].split(", ")[0]

'Chicken Tikka'

In [25]:
dfd.loc[dfd['Item Name'] == df_grouped["Item Name"][0].split(", ")[0], 'Product Price']

1    7.95
Name: Product Price, dtype: float64

In [26]:
df_grouped['PriceArray'] = ''
df_grouped

,Order Date,Item Name,Quantity,Total products,PriceArray
0,2015-09-29 15:20:00,"Chicken Tikka, Tandoori Chicken (1/4), Chicken...","[1, 1, 3]",5,
1,2015-09-29 15:36:00,"Vegetable Samosa, Tandoori Fish","[2, 1]",3,
2,2015-09-29 16:16:00,Vegetable Samosa,[1],1,
3,2015-09-30 10:36:00,"Tandoori Fish, Tandoori Chicken (1/4), Vegetab...","[1, 1, 1]",3,
4,2015-09-30 15:38:00,"Onion Bhaji, Royal Paneer, Prawn Puree, Tandoo...","[1, 1, 1, 1, 4, 4]",12,
...,...,...,...,...,...
13066,2019-08-03 19:44:00,"Special Fried Rice, Chicken Balti","[2, 1]",3,
13067,2019-08-03 20:01:00,"Pilau Rice, Peshwari Naan, Korma - Prawn, Red ...","[1, 1, 1, 1, 1, 1, 1]",7,
13068,2019-08-03 20:09:00,"Keema Naan, Lamb Biryani, Chicken Chilli Garli...","[1, 1, 1, 1, 1]",5,
13069,2019-08-03 20:17:00,"Plain Naan, Mushroom Rice, Tandoori Chicken (1...","[1, 1, 1, 1, 1, 1, 1]",7,
13070,2019-08-03 20:25:00,"Mango Chutney, Paneer Tikka Masala, Mushroom R...","[1, 1, 1, 1, 1, 2]",7,

In [ ]:
df_grouped['PriceArray'] = df_grouped['Item Name'].apply(lambda x: [dfd.loc[dfd['Item Name'] == i, 'Product Price'].values[0] for i in x.split(", ")])
df_grouped

In [ ]:
len(df_grouped.Quantity[0])

In [ ]:
df_grouped['Revenue'] = [np.dot(quantity, price) if len(quantity) == len(price) else 0 for quantity, price in zip(df_grouped['Quantity'], df_grouped['PriceArray'])]
df_grouped

In [ ]:
df_grouped.loc[df_grouped['Revenue'] == 0]

In [ ]:
df_grouped.loc[df_grouped['Total products'] == 185]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set_theme(rc={'figure.figsize':(11, 4)})

In [ ]:
plt.plot(df_grouped['Order Date'], df_grouped['Total products'])

In [ ]:
#dropping rows with more than 50 total products
df_grouped.drop(df_grouped.loc[df_grouped['Total products'] > 50].index, inplace=True)

In [ ]:
df_grouped.shape

In [ ]:

sns.kdeplot(df_grouped, x = 'Total products', y = 'Revenue', fill=True, n_levels=100)

In [ ]:

# Custom function to join strings in the "Item Name" column
def join_items(series):
    return ", ".join(series.dropna().astype(str))


# Resampling by week and applying the custom function to "Item Name"
dfgweek = df_grouped.resample('W', on='Order Date').agg({
    'Item Name': join_items,  # Custom aggregation for strings
    'Quantity': 'sum',       # Sum for numerical columns
    'Total products': 'sum', # Example for summing another column
    'PriceArray': 'sum',
    'Revenue': 'sum'         # Sum for revenue
}).reset_index()

# dfgday = df_grouped.resample('D', on='Order Date').sum().reset_index()
# dfgweek = df_grouped.resample('W', on='Order Date').sum().reset_index()
# dfgmonth = df_grouped.resample('ME', on='Order Date').sum().reset_index()
# dfgquarter = df_grouped.resample('QE', on='Order Date').sum().reset_index()
# dfgyear = df_grouped.resample('YE', on='Order Date').sum().reset_index()

In [ ]:
dfgweek

In [ ]:
dfgweek.loc[69,'Order Date']

In [ ]:
sns.lineplot(data=dfgweek, x='Order Date', y='Total products')

In [ ]:
from transformer import Transformer
import torch

In [ ]:
START_TOKEN = ' '
END_TOKEN = '.'
PADDING_TOKEN = '|'

index_to_time = dfgweek.loc[:,'Order Date'].astype(str).to_dict()
print(index_to_time)

index_to_obj = dfd.loc[:, "Item Name"].to_dict()

index_to_obj[len(index_to_obj.keys())] = START_TOKEN
index_to_obj[len(index_to_obj.keys()) + 1] = END_TOKEN
index_to_obj[len(index_to_obj.keys()) + 2] = PADDING_TOKEN
index_to_obj[len(index_to_obj.keys()) + 3] = '0'

index_to_time[len(index_to_time.keys())] = START_TOKEN
index_to_time[len(index_to_time.keys()) + 1] = END_TOKEN
index_to_time[len(index_to_time.keys()) + 2] = PADDING_TOKEN

In [ ]:
index_to_obj.values()

In [ ]:
time_to_index = {v: k for k, v in index_to_time.items()}
obj_to_index = {v: k for k, v in index_to_obj.items()}

In [ ]:
time_train = list(dfgweek.loc[:,'Order Date'].astype(str))

In [ ]:
time_train[0]

In [ ]:
index_to_time

In [ ]:
len(time_train)

In [ ]:
# obj_train = []

# for row in dfgweek.iterrows():
#     temp = row['Item Name'].split(",").join("")
#     obj_train.append(temp)

In [ ]:
obj_train = list(dfgweek.loc[:, "Item Name"].astype(str))

In [ ]:
for i in range(len(obj_train)):
    if type(obj_train[i]) is int:
        print(obj_train[i])

In [ ]:
obj_train[1]

In [ ]:
obj_to_index

In [ ]:
d_model = 64
batch_size = 1
ffn_hidden = 256
num_heads = 8
drop_prob = 0.1
num_layers = 12
max_sequence_length = 10
obj_size = len(obj_to_index)

transformer = Transformer(d_model,
                          ffn_hidden,
                          num_heads,
                          drop_prob,
                          num_layers,
                          max_sequence_length,
                          obj_size,
                          time_to_index,
                          obj_to_index,
                          START_TOKEN,
                          END_TOKEN,
                          PADDING_TOKEN)

In [ ]:
transformer

In [ ]:
from torch.utils.data import Dataset, DataLoader

class ItemDataset(Dataset):
    def __init__(self, time_train, obj_train):
        self.time_train = time_train
        self.obj_train = obj_train

    def __len__(self):
        return len(self.time_train)
    
    def __getitem__(self, idx):
        return self.time_train[idx], self.obj_train[idx]

In [ ]:
dataset = ItemDataset(time_train, obj_train)

In [ ]:
len(dataset)

In [ ]:
dataset[0]

In [ ]:
train_loader = DataLoader(dataset, batch_size)
iterator = iter(train_loader)

In [ ]:
for batch_num, batch in enumerate(iterator):
    print(batch)

In [ ]:
obj_to_index

In [ ]:
len(index_to_time)

In [ ]:
len(time_to_index)

In [ ]:
from torch import nn

criterion = nn.CrossEntropyLoss(ignore_index=obj_to_index[PADDING_TOKEN], reduction='none')

for params in transformer.parameters():
    if params.dim() > 1:
        nn.init.xavier_uniform_(params)

optim = torch.optim.Adam(transformer.parameters(), lr=1e-4)
device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')

In [ ]:
NEG_INFTY = -1e9

def create_masks(time_batch, item_batch):
    num_sentences = len(time_batch)
    look_ahead_mask = torch.full([max_sequence_length, max_sequence_length], True)
    look_ahead_mask = torch.triu(look_ahead_mask, diagonal=1)
    encoder_padding_mask = torch.full([num_sentences, max_sequence_length, max_sequence_length], False)
    decoder_padding_mask_self_attention = torch.full([num_sentences, max_sequence_length, max_sequence_length], False)
    decoder_padding_mask_cross_attention = torch.full([num_sentences, max_sequence_length, max_sequence_length], False)

    for idx in range(num_sentences):
        time_len, item_len = len(time_batch[idx]), len(item_batch[idx])
        time_to_padding_mask = np.arange(time_len + 1, max_sequence_length)
        item_to_padding_mask = np.arange(item_len +1, max_sequence_length)
        encoder_padding_mask[idx, :, time_to_padding_mask] = True
        encoder_padding_mask[idx, time_to_padding_mask, :] = True
        decoder_padding_mask_self_attention[idx, :, item_to_padding_mask] = True
        decoder_padding_mask_self_attention[idx, item_to_padding_mask, :] = True
        decoder_padding_mask_cross_attention[idx, :, time_to_padding_mask] = True
        decoder_padding_mask_cross_attention[idx, item_to_padding_mask, :] = True

    encoder_self_attention_mask = torch.where(encoder_padding_mask, NEG_INFTY, 0)
    decoder_self_attention_mask = torch.where(look_ahead_mask + decoder_padding_mask_self_attention, NEG_INFTY, 0)
    decoder_cross_attention_mask = torch.where(decoder_padding_mask_cross_attention, NEG_INFTY, 0)
    return encoder_self_attention_mask, decoder_self_attention_mask, decoder_cross_attention_mask

In [ ]:
transformer.train()
transformer.to(device)
total_loss = 0
num_epochs = 5

for epoch in range(num_epochs):
    print(f"Epoch {epoch}")
    iterator = iter(train_loader)
    for batch_num, batch in enumerate(iterator):
        transformer.train()
        time_batch, item_batch = batch
        encoder_self_attention_mask, decoder_self_attention_mask, decoder_cross_attention_mask = create_masks(time_batch, item_batch)
        optim.zero_grad()
        item_predictions = transformer(time_batch,
                                       item_batch,
                                       encoder_self_attention_mask.to(device),
                                       decoder_self_attention_mask.to(device),
                                       decoder_cross_attention_mask.to(device),
                                       enc_start_token = False,
                                       enc_end_token=False,
                                       dec_start_token=True,
                                       dec_end_token=True)
        labels = transformer.decoder.sentence_embedding.batch_tokenize(item_batch, start_token=False, end_token=True)
        loss = criterion(item_predictions.view(-1, obj_size).to(device),
                         labels.view(-1).to(device)).to(device)
        valid_indicies = torch.where(labels.view(-1) == obj_to_index[PADDING_TOKEN], False, True)
        loss = loss.sum() / valid_indicies.sum()
        loss.backward()
        optim.step()

        if True:
            print(f"Iteration {batch_num} : {loss.item()}")
            print(f"Week: {time_batch[0]}")
            print(f"Items: {item_batch[0]}")
            item_sentence_predicted = torch.argmax(item_predictions[0], axis=1)
            predicted_sentence = ""
            for idx in item_sentence_predicted:
                if idx == obj_to_index[END_TOKEN]:
                    break
                predicted_sentence += index_to_obj[idx.item()]
            print(f"Item Prediction: {predicted_sentence}")


            transformer.eval()
            item_sentence = ("",)
            time_sentence = ('2017-01-29',)
            for word_counter in range(max_sequence_length):
                encoder_self_attention_mask, decoder_self_attention_mask, decoder_cross_attention_mask = create_masks(time_sentence, item_sentence)
                predictions = transformer(time_sentence,
                                          item_sentence,
                                          encoder_self_attention_mask.to(device),
                                          decoder_self_attention_mask.to(device),
                                          decoder_cross_attention_mask.to(device),
                                          enc_start_token=False,
                                          enc_end_token=False,
                                          dec_start_token=True,
                                          dec_end_token=False)
                next_token_prob_distribution = predictions[0][word_counter]
                next_token_index = torch.argmax(next_token_prob_distribution).item()
                next_token = index_to_obj[next_token_index]
                item_sentence = (item_sentence[0] + next_token, )
                if next_token == END_TOKEN:
                    break

            print(f"Testing (2017-01-29): {item_sentence}")
            print("--------------------------------------------------------------------------------")